@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(236, 234, 230);
}

h1, h2 {
  color: black;

}

.container {
  width: 500px;
  margin: 0 auto;
}


.img-circle {
  width: auto;
  height: 200px;
  border-radius: 50%;
  background-image: url('./images/bg_2_port.jpeg');
}

.link-text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: black;
  background-color: rgb(201, 194, 194);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.link-text span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.link-text span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.link-text:hover span {
  padding-right: 25px;
}

.link-text:hover span:after {
  opacity: 1;
  right: 0;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  transition: 0.5s;
  color: rgb(201, 194, 194);
  font-weight: 300;
}

.card-white {
  background-color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 7px;
  border: 1px solid;
  box-shadow: 5px 7px #acaaaa;
  text-align: center;
}

li {
  display: inline-block;
  padding: 0px 20px;
}
